<section id='page-register-login' class='change-password'>
	<div class="form">
		<h2>Change Password</h2>
		<form>
			<div class="form-input">
				{{input value=oldPassword type="password" placeholder="Old Password" }}
				{{display-errors errors=errors.oldPassword showErrors=showErrors class='form-error'}} 
			</div>
			<div class="form-input">
				{{input value=newPassword type="password" placeholder="New Password" }}
				{{display-errors errors=errors.newPassword showErrors=showErrors}} 
			</div>
			<div class="form-input">
				{{input value=newPasswordConfirmation type="password" placeholder="Retype New Password" }}
				{{display-errors errors=errors.newPasswordConfirmation showErrors=showErrors}} 
			</div>
			<button {{action 'change'}}><span class="button button-teal">Change Password</span></button>
		</form>
	</div>
</section>

<div class="flash-messages">
<!----></div>