 <section id="blog" class="login">
		<div class="container">
			<div class="col-md-6 col-md-offset-3">
			<div class="module form-module">
				<div class="toggle">
					<i class="fa fa-lock"></i>
				</div>
				<div class="form">
					<h2>Reset your password</h2>
					<form>						
                        
                        {{input value=newPassword type="password" placeholder="New Password" }}
				    	{{display-errors errors=errors.newPassword showErrors=showErrors}} 
                        
                        {{input value=newPasswordConfirmation type="password" placeholder="Retype New Password" }}
				    	{{display-errors errors=errors.newPasswordConfirmation showErrors=showErrors}} 
                        {{input value=token type="hidden"  }}
					  
						<button {{action 'change'}} >Reset Password</button>
					</form>
				</div>
			</div>
			</div>
		</div>
    </section>
