<h4 class='post-aside-title'>{{yield}} Time Remaining</h4>
<div class="countdown-timer">
	<p class='countdown-timer-row'><strong>{{days}}</strong> Days</p>
	<p class='countdown-timer-row'><strong>{{hours}}</strong> Hours</p>
	<p class='countdown-timer-row'><strong>{{minutes}}</strong> Minutes</p>
	<p class='countdown-timer-row'><strong>{{seconds}}</strong> Seconds</p>
</div>
{{!-- <svg viewBox="0 0 51 35.7" class='icon'>
	<rect width="51" height="8.7"/>
	<rect y="27" width="51" height="8.7"/>
</svg>
 --}}